<div class="page-container">
    <mat-card>
        <mat-card-title>Testing Grounds</mat-card-title>
        <mat-card-content>
            <p>
                Testing implementation of Material components with Bootstrap
                utility/helper classes.
            </p>
            <p>
                This section includes code snippets and examples of using
                regular Angular Material components as well as examples
                replacing the styling by using Bootstrap utility classes.
            </p>
            <p>
                Material Colors:
                <span *ngFor="let color of matColors" [ngClass]="'bg-' + color">
                    {{ color }}
                </span>
            </p>
            <p>
                Bootstrap Colors:
                <span
                    *ngFor="let color of bootstrapColors"
                    [ngClass]="'bg-' + color"
                >
                    {{ color }}
                </span>
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Basic Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>&lt;button mat-button [color]="color"&gt;&lt;/button&gt;</pre>
            <button mat-button *ngFor="let color of matColors" [color]="color">
                {{ color }} button
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap-enhanced Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-button [ngClass]="'text-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-button
                *ngFor="let color of bootstrapColors"
                [ngClass]="'text-' + color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Raised Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-raised-button [color]="color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-raised-button
                *ngFor="let color of matColors"
                [color]="color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap Enhanced + Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
    &lt;button mat-raised-button [ngClass]="'bg-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-raised-button
                *ngFor="let color of bootstrapColors"
                [ngClass]="'bg-' + color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Stroked Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-stroked-button [color]="color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-stroked-button
                *ngFor="let color of matColors"
                [color]="color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap-enhanced Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-stroked-button [ngClass]="'border text-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-stroked-button
                *ngFor="let color of bootstrapColors"
                [ngClass]="'border text-' + color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Flat Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-flat-button [color]="color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-flat-button
                *ngFor="let color of matColors"
                [color]="color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap-enhanced Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-flat-button [ngClass]="'bg-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-flat-button
                *ngFor="let color of bootstrapColors"
                [ngClass]="'bg-' + color"
            >
                {{ color }} button
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Icon Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-icon-button [color]="color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-icon-button
                *ngFor="let color of matColors"
                [color]="color"
            >
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap-enhanced Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-icon-button [ngClass]="'text-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-icon-button
                *ngFor="let color of bootstrapColors"
                [ngClass]="'text-' + color"
            >
                <mat-icon>favorite</mat-icon>
            </button>
            <pre>
&lt;button mat-icon-button [ngClass]="'bg-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-icon-button
                *ngFor="let color of bootstrapColors"
                [ngClass]="'bg-' + color"
            >
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Fab Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>&lt;button mat-fab [color]="color"&gt;&lt;/button&gt;</pre>
            <button mat-fab *ngFor="let color of matColors" [color]="color">
                {{ color }}
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap-enhanced Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-fab [ngClass]="'bg-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-fab
                *ngFor="let color of bootstrapColors"
                [ngClass]="'bg-' + color"
            >
                {{ color }}
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Mini Fab Buttons</mat-card-title>
        <mat-card-subtitle>
            Angular Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-mini-fab [color]="color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-mini-fab
                *ngFor="let color of matColors"
                [color]="color"
            >
                {{ color }}
            </button>
        </mat-card-content>
        <mat-card-subtitle>
            Bootstrap-enhanced Material Buttons
        </mat-card-subtitle>
        <mat-card-content>
            <pre>
&lt;button mat-mini-fab [ngClass]="'bg-' + color"&gt;&lt;/button&gt;</pre
            >
            <button
                mat-mini-fab
                *ngFor="let color of bootstrapColors"
                [ngClass]="'bg-' + color"
            >
                {{ color }}
            </button>
        </mat-card-content>
    </mat-card>
</div>
