@import '~@angular/material/theming';

$default-primary: mat-palette($mat-blue, 800, A100, 900);
$default-accent: mat-palette($mat-deep-purple);
$default-warn: mat-palette($mat-red, 700, 100, 900);

$default-neutral: mat-palette($mat-blue-gray);
$default-success: mat-palette($mat-green);

$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);
