@import '~styles/themes/material_default';

$ngbm-primary: mat-color($default-primary);
$ngbm-secondary: mat-color($default-accent);
$ngbm-info: mat-color($default-primary, 100);
$ngbm-success: mat-color($default-success);
$ngbm-danger: mat-color($default-warn);
$ngbm-light: mat-color($default-neutral, 100);
$ngbm-dark: mat-color($default-neutral, 800);

/* Bootstrap overrides */
$theme-colors: (
    primary: $ngbm-primary,
    secondary: $ngbm-secondary,
    info: $ngbm-info,
    success: $ngbm-success,
    danger: $ngbm-danger,
    light: $ngbm-light,
    dark: $ngbm-dark,
);

/* For Reference */

/* Original Bootstrap Colors */
// $blue: #007bff;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #e83e8c;
// $red: #dc3545;
// $orange: #fd7e14;
// $yellow: #ffc107;
// $green: #28a745;
// $teal: #20c997;
// $cyan: #17a2b8;
// $gray: #6c757d;
// $gray-dark: #343a40;
// $light: #f8f9fa;


/* Original Bootstrap Theme */
// $theme-colors: (
//     primary: $blue,
//     secondary: $gray,
//     dark: $gray-dark,
//     light: $light,
//     success: $green,
//     info: $teal,
//     danger: $red,
// );
