/* Resets */
* {
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }

    &:active,
    :focus {
        outline: none !important;
    }
}

label {
    margin: 0;
}

html,
body {
    height: 100%;
}

.mat-icon {
    svg {
        vertical-align: unset; // fix svg icons vertical align
    }
}
