<div class="wrapper">
    <!-- Header -->
    <mat-toolbar color="primary">
        <!-- Responsive Title -->
        <span class="d-none d-sm-block">
            Angular Bootstrap Material Starter
        </span>
        <span class="d-block d-sm-none">
            NGBM
        </span>

        <!-- Toolbar Buttons -->
        <div class="ml-auto">
            <!-- Layout Based Navigation-->
            <ng-container *ngIf="!sidenavLayout">
                <button
                    *ngFor="let link of navLinks"
                    mat-button
                    [matTooltip]="link.name"
                    [routerLink]="link.path"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="bg-accent"
                >
                    <!-- Responsive Navigation Items -->
                    <span class="d-md-block d-none">
                        {{ link.name }}
                    </span>
                    <mat-icon matListIcon class="d-inline-block d-md-none">
                        {{ link.icon }}
                    </mat-icon>
                </button>
            </ng-container>

            <!-- Settings Menu -->

            <div class="d-md-inline-block d-none">
                <button mat-icon-button (click)="switchLayout()">
                    <mat-icon>web_asset</mat-icon>
                </button>
                <button mat-icon-button (click)="switchTheme()">
                    <mat-icon>color_lens</mat-icon>
                </button>
            </div>

            <!-- Responsive Settings Menu -->
            <button
                class="d-inline-block d-md-none"
                mat-icon-button
                [matMenuTriggerFor]="settingsMenu"
            >
                <mat-icon>settings</mat-icon>
                <mat-menu #settingsMenu="matMenu">
                    <ng-template matMenuContent>
                        <button mat-menu-item (click)="switchLayout()">
                            <mat-icon>web_asset</mat-icon>
                            <span>Layout</span>
                        </button>
                        <button mat-menu-item (click)="switchTheme()">
                            <mat-icon>color_lens</mat-icon>
                            <span>Theme</span>
                        </button>
                    </ng-template>
                </mat-menu>
            </button>
            <a
                mat-icon-button
                href="https://github.com/ztgluis/angular-bootstrap-material-starter"
            >
                <mat-icon svgIcon="github"></mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <!-- Sidenav Container -->
    <mat-sidenav-container class="sidenav-container" autosize>
        <!-- Navigation Sidenav -->
        <mat-sidenav class="sidenav" mode="side" [opened]="sidenavLayout">
            <mat-nav-list>
                <mat-list-item (click)="toggleSidenavText()" disableRipple>
                    <mat-icon class="ml-auto">
                        {{ expandedSidenav ? 'chevron_left' : 'chevron_right' }}
                    </mat-icon>
                </mat-list-item>
                <mat-list-item
                    *ngFor="let link of navLinks"
                    [routerLink]="link.path"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="bg-accent"
                >
                    <mat-icon matListIcon>{{ link.icon }}</mat-icon>
                    <h3 matLine *ngIf="expandedSidenav">{{ link.name }}</h3>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <!-- Main Content -->
        <mat-sidenav-content role="main">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- Footer -->
    <mat-toolbar color="primary">
        <div class="lead m-auto">
            <span class="d-flex align-items-center">
                Built with
                <mat-icon class="mx-1 text-warn">favorite</mat-icon>
                by Skynet
            </span>
        </div>
    </mat-toolbar>
</div>
